
//- file: src/components/metar/cavok/cavok.pug

section.wre-section
  .wre-component
    .wre-row
      .wre-field
        label.wre-field__label(for='wre_metar_cavok')
          span.wre-field__badge.wre-field__badge--bold CAVOK
        input.wer-field__input.wer-field__input--checkbox(
          id='wre_metar_cavok'
          type='checkbox'
          name='cavok'
          value='CAVOK'
        )
