//- file: src/components/metar/cavok/cavok.pug

div.amtk_flex_row.amtk_flex_gap_sm
  label(for='amtk_metar_cavok')
    span.wre_bold CAVOK
  input#amtk_metar_cavok(type='checkbox' name='cavok' value='CAVOK')
