//- src/components/common/menu/menu.pug

nav.amtk_wre_menu
  ul.amtk_wre_menu_list
    li.amtk_wre_menu_item
      button#amtk_wre_menu_btn_metar.amtk_wre_menu_btn.amtk_wre_active METAR
    li.amtk_wre_menu_item
      button#amtk_wre_menu_btn_taf.amtk_wre_menu_btn TAF
