//- src/components/metar/type/type.pug

// Type

div
  div
    label(for='amtk_metar_type_metar')
      span.wre_bold Тип сводки
  div
    div
      label
        input(type='radio' name='type' value='METAR' pattern='[A-Z]{4}' title='4 заглавные буквы' id='amtk_metar_type_metar')
        span.wre_normal METAR
      label
        input(type='radio' name='type' value='SPECI' id='amtk_metar_type_speci')
        span.wre_normal SPECI
      label
        input(type='checkbox' name='cor' value='COR' id='amtk_metar_cor')
        span.wre_normal COR
    div
      label
        input(type='checkbox' name='nil' value='NIL' id='amtk_metar_nil')
        span.wre_normal NIL
      label
        input(type='checkbox' name='auto' value='AUTO' id='amtk_metar_auto')
        span.wre_normal AUTO
