//- file: src/app/main/main.pug

div#amtk_wre.amtk_wre(data-version='909cfb9b1dacc63c')

  include ../menu/menu.pug

  section#amtk_wre_metar.amtk_metar_editor

    form.amtk_wre_form(name='amtk_form_input')

      include ../../components/metar/type/type.pug
      hr

      include ../../components/metar/icao/icao.pug
      hr

      include ../../components/metar/wind/wind.pug
      hr

      include ../../components/metar/cavok/cavok.pug
      hr

      include ../../components/metar/visibility/visibility.pug
      hr

      include ../../components/metar/weather/weather.pug
      hr

      include ../../components/metar/clouds/clouds.pug
      hr

      include ../../components/metar/temperature/temperature.pug
      hr

      include ../../components/metar/pressure/pressure.pug
      hr

      include ../../components/metar/rmk/rmk.pug


    form(name='amtk_form_output' method='post')
      div
        label(for='amtk_metar_output')
          span.wre_bold METAR/SPECI
      div
        textarea.wre_form_output(name='output' id='amtk_metar_output' disabled)
      div
        div.amtk_flex_center.amtk_flex_gap_sm
          input.wre_metar_send(name='send' type='button' value='Передать сообщение')

        div.amtk_flex_center.amtk_flex_gap_sm.wre_hidden
          span Выпустить это сообщение?
          input.wre_metar_submit(name='submit' type='submit' value='Да')
          input.wre_metar_reset(name='reset' type='reset' value='Отмена')

        div.amtk_flex_center.amtk_flex_gap_sm.wre_hidden
          span#amtk_wre_metar_display
          input.wre_metar_back(name='back' type='reset' value='Назад')


  section#amtk_wre_taf.amtk_wre_taf.amtk_wre_hidden
    h2 TAF
