
//- file: src/components/metar/rmk/rmk.pug

section.wre-section
  .wre-row
    .wre-field
      label.wre-field__label(for='wre_metar_rmk')
        span.wre-field__badge.wre-field__badge--bold RMK
  .wre-row
    //select.amtk_wre_input_select(name='trend' id='amtk_metar_trend')
    //  option(value='NOSIG') NOSIG (без изменений)
    //  option(value='BECMG') BECMG (постепенные изменения)
    //  option(value='TEMPO') TEMPO (временные изменения)
    .wre-field
      input.wre-field__input.wre-field__input--text.wre-field__input--w100(
        id='wre_metar_rmk'
        type='text'
        name='rmk'
      )
