//- file: src/components/metar/rmk/rmk.pug

div
  div
    label(for='amtk_metar_rmk')
      span.wre_bold RMK
  div
    //select.amtk_wre_input_select(name='trend' id='amtk_metar_trend')
    //  option(value='NOSIG') NOSIG (без изменений)
    //  option(value='BECMG') BECMG (постепенные изменения)
    //  option(value='TEMPO') TEMPO (временные изменения)
    input.amtk_wre_input_text.amtk_wre_w100(type='text' name='rmk' id='amtk_metar_rmk')
  br
