//- file: src/components/metar/clouds/clouds.pug

div
  div
    label(for='amtk_metar_clouds_1')
      span.wre_bold Облачность

  div
    div
      label(for='amtk_metar_clouds_1')
        span.wre_normal 1-й слой
    div
      select.amtk_wre_input_select(name='clouds_1_coverage')
        //option(value='NCD') NCD
        option(value='FEW') FEW
        option(value='SCT') SCT
        option(value='BKN') BKN
        option(value='OVC') OVC
        //option(value='NSC') NSC
      input.amtk_wre_input_text(type='text' name='clouds_1' id='amtk_metar_clouds_1')
      label
        input(type='checkbox' name='clouds_1_type' value='CB' id='amtk_metar_clouds_1_type_cb')
        span.wre_normal CB
      label
        input(type='checkbox' name='clouds_1_type' value='TCU' id='amtk_metar_clouds_1_type_tcu')
        span.wre_normal TCU
    div
      input(type='range' name='clouds_1_height' min='-1' max='600' step='1' value='-1' id='amtk_metar_clouds_1_height')

  div

    details
      summary 2-й слой

      div
        div
          select.amtk_wre_input_select(name='clouds_2_coverage')
            //option(value='NCD') NCD
            //option(value='FEW') FEW
            option(value='SCT') SCT
            option(value='BKN') BKN
            option(value='OVC') OVC
            //option(value='NSC') NSC
          input.amtk_wre_input_text(type='text' name='clouds_2' id='amtk_metar_clouds_2')
          label
            input(type='checkbox' name='clouds_2_type' value='CB' id='amtk_metar_clouds_2_type_cb')
            span.wre_normal CB
          label
            input(type='checkbox' name='clouds_2_type' value='TCU' id='amtk_metar_clouds_2_type_tcu')
            span.wre_normal TCU
        div
          input(type='range' name='clouds_2_height' min='-1' max='600' step='1' value='-1' id='amtk_metar_clouds_2_height')

      div

        details
          summary 3-й слой

          div
            select.amtk_wre_input_select(name='clouds_3_coverage')
              //option(value='NCD') NCD
              //option(value='FEW') FEW
              //option(value='SCT') SCT
              option(value='BKN') BKN
              option(value='OVC') OVC
              //option(value='NSC') NSC
            input.amtk_wre_input_text(type='text' name='clouds_3' id='amtk_metar_clouds_3')
            label
              input(type='checkbox' name='clouds_3_type' value='CB' id='amtk_metar_clouds_3_type_cb')
              span.wre_normal CB
            label
              input(type='checkbox' name='clouds_3_type' value='TCU' id='amtk_metar_clouds_3_type_tcu')
              span.wre_normal TCU
          div
            input(type='range' name='clouds_3_height' min='-1' max='600' step='1' value='-1' id='amtk_metar_clouds_3_height')

          div

            details
              summary Дополнительная группа

              div
                div
                  select.amtk_wre_input_select(name='clouds_4_coverage')
                    //option(value='NCD') NCD
                    option(value='FEW') FEW
                    option(value='SCT') SCT
                    option(value='BKN') BKN
                    option(value='OVC') OVC
                    //option(value='NSC') NSC
                  input(type='text' name='clouds_4' id='amtk_metar_clouds_4')
                  label
                    input(type='checkbox' name='clouds_4_type' value='CB' id='amtk_metar_clouds_4_type_cb')
                    span.wre_normal CB
                  label
                    input(type='checkbox' name='clouds_4_type' value='TCU' id='amtk_metar_clouds_4_type_tcu')
                    span.wre_normal TCU
                div
                  input(type='range' name='clouds_4_height' min='-1' max='600' step='1' value='-1' id='amtk_metar_clouds_4_height')
