
// file: src/components/main.styl

.wre-columns
  display flex
  gap .5rem
  align-items center

.wre-field
  &__badge
    &--bold
      font-weight bold

  &__input
    &--text
    &--select
    &--date
    &--time
    &--button
      box-sizing initial !important
      padding .25rem
      margin 0
      font-family monospace !important

    &--4ch
      width 4ch !important

    &--w100
    &--100w
      width 100% !important

  &--w100
  &--100w
    width 100% !important
