//- file: src/components/metar/temperature/temperature.pug

div
  div
    label(for='amtk_temperature_temperature')
      span.wre_bold Температура

  div
    div
      label(for='amtk_metar_temperature')
        span.wre_normal Воздух

    div.amtk_flex_row.amtk_flex_gap_sm
      input.amtk_wre_input_text(type='text' name='temperature' id='amtk_metar_temperature')
      label
        input(type='checkbox' name='temperature_minus' value='-')
        span.wre_normal –
      input(type='range' name='temperature_range' min='-1' max='80' step='1' value='-1' id='amtk_metar_temperature_range')

  div
    div
      label(for='amtk_metar_dew_point')
        span.wre_normal Точка росы

    div.amtk_flex_row.amtk_flex_gap_sm
      input.amtk_wre_input_text(type='text' name='dew_point' id='amtk_metar_dew_point')
      label
        input(type='checkbox' name='dew_point_minus' value='-')
        span.wre_normal –
      input(type='range' name='dew_point_range' min='-1' max='80' step='1' value='-1' id='amtk_metar_dew_point_range')
