// src/components/metar/main/main.styl

.mrbox-scroll:has(.amtk_metar_editor)
  padding-bottom 0

.amtk_metar_editor
  box-sizing border-box
  position relative
  width 728px
  margin-left auto
  margin-right @margin-left

  form
    padding-left 1rem
    padding-right @padding-left


  form[name='amtk_form_output']
    position sticky
    bottom 0
    background-color white
    border-top 1px solid currentColor
    padding-top 1rem
    padding-bottom @padding-top

  div
    margin-bottom .5rem

  hr
    margin-top 1.5rem
    margin-bottom @margin-top

  input[type='text']
  input[type='date']
  input[type='time']
  input[type='button']
  select
  textarea
    box-sizing border-box

  input[type='range']
  textarea
    width 100%

  textarea
    margin-bottom 1rem

  label
    white-space nowrap

    & > input[type='radio']
    & > input[type='checkbox']
      margin-block-end 0px
      margin-block-start 3px
      margin-inline-end 3px
      margin-inline-start 5px
      margin-bottom 0px
      margin-left 5px
      margin-right 3px
      margin-top 3px

  .bold
    font-weight bold

  .flex
    display flex


  input
  textarea
  select
  option
    font inherit

  #amtk_metar_icao
  #amtk_metar_direction
  #amtk_metar_speed
  #amtk_metar_gust
    width calc(11ch + 2.25rem)

  div
    & > input + input
    & > input + select
    & > input + label
    & > select + select
    & > select + input
    & > select + label
    & > label + label
    & > label + select
    & > label + input
      margin-left .5rem

  summary
    & + div
      margin-top .5rem

  #amtk_metar_icao
    width 4ch !important
    box-sizing initial
    padding .25rem
    margin 0
    font-family monospace

  select[name="icao_variants"]
    box-sizing initial
    padding .25rem
    margin-top 0
    margin-right 0
    margin-bottom 0
    font-family monospace

  #amtk_metar_date
    box-sizing initial
    padding .25rem
    margin 0
    font-family monospace

  #amtk_metar_time
    box-sizing initial
    padding .25rem
    margin-top 0
    margin-right 0
    margin-bottom 0
    font-family monospace

  #amtk_metar_current
    box-sizing initial
    padding .25rem
    margin-top 0
    margin-right 0
    margin-bottom 0
    font-family monospace

  #amtk_metar_direction
    width 3ch !important
    box-sizing initial
    padding .25rem
    margin 0
    font-family monospace

  #amtk_metar_speed
    width 3ch !important
    box-sizing initial
    padding .25rem
    margin-top 0
    margin-right 0
    margin-bottom 0
    font-family monospace

  #amtk_metar_gust
    width 3ch !important
    box-sizing initial
    padding .25rem
    margin-top 0
    margin-right 0
    margin-bottom 0
    font-family monospace

  .amtk_flex_row
    display flex
    flex-direction row

  .amtk_flex_gap_sm
    gap .25rem

  .amtk_flex_gap_md
    gap 1.5rem

  .amtk_flex_row_center
    display flex
    justify-content center

